<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!

    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="mt-20 text-center text-secondary"> Your payment id is {{paymentId}}. </div>
    <div class="mt-20 text-center text-secondary border-placeholder">
      You have made payment of $<span class="amount" data-amount={{amountTotal}}></span>.

      An email containing the invoice details will be delivered to {{email}} shortly
    </div>
  </div>
</main>